.cast-details-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 2rem;
    padding: 2rem;
    padding-bottom: 0;
    color: #fff;
}

.cast-details-container img {
    border-radius: 1.5rem;;
}

.cast-details-container a {
    text-decoration: none;
    color: inherit;
}

.cast-details-container .cast-info img {
    width: 15vw;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cast-details-container .cast-info p {
    width: 85%;
    margin-top: 1rem;
    color: rgba(255,255,255,0.8);
}

.cast-details-container .movie-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vh;
    padding-top: 0.5rem;
}

.cast-details-container .movie-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.cast-details-container .movie-card img {
   width: 185px;
   height: 278px;
   transition: all 0.5s ease-out;
}

.cast-details-container .movie-card:hover img{
    transform: scale(1.05);
    filter: brightness(1.05);
}

.cast-details-container .movie-card span {
    width: 185px;
}

.cast-details-container .cast-details-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    color: rgba(255,255,255,0.9);
    left: 50%;
    transform: translate(-50%, -50%);
}

.cast-details-container .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

.cast-details-container .sorting-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.1rem 0.5rem;
    z-index: 10;
    width: 9%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2rem;
    font-size: 1.1vw;
    margin-bottom: 1.4vw;
    transform: scale(0.8);
    border: 1px solid rgba(255,255,255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cast-details-container .filter, .sort {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.55rem 1rem;
    border-radius: 2rem;
    transition: all 0.15s ease-out;
    cursor: pointer;
    color: #fff;
}

.cast-details-container .filter:hover, .cast-details-container .sort:hover {
    background-color: #282828;
}

.cast-details-container .filter {
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cast-details-container .sort {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cast-details-container .popup-menu {
    z-index: 200000;
    background-color: #0B1011;
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.7vw;
    right: 68%;
    top: 10%;
    border-radius: 1rem;
}

.cast-details-container .popup-menu p {
    cursor: pointer;
    font-size: 0.7vw;
}

.cast-details-container .liner {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
}

.skeleton-card {
    width: 11.55rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    border-radius: 1.5rem;
    transform: translate(0, 58rem);
    animation: pulse 1.5s infinite;
}

.skeleton-img {
    width: 100%;
    height: 22rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
}

.skeleton-title {
    width: 95%;
    height: 1.3rem;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.75rem 0;
    border-radius: 0.5rem;
}