.movie-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 30px 60px rgba(0, 0, 0, 0.9), inset 0 -30px 50px rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
}

.movie-details-container {
    bottom: 1.5vw;
}

body {
    background-color: #000;
}

.backdrop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
}

.movie-poster {
    width: 100%;
}

.movie-details-container .movie-title {
    width: 11vw;
}

.back-button {
    padding: 0 2vw;
    cursor: pointer;

    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.5vw;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255, 0.4);
    }
}

.movie-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: 1.5vw;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
}

.movie-content a {
    text-decoration: none;
    color: inherit;
}

.movie-info {
    flex-grow: 1;
    height: 5vw;
}

.movie-info h1 {
    font-size: 2.3vw;
    margin-bottom: 0.9vw;
    color: #fff;
    line-height: 3.5rem;
}

.movie-meta {
    display: flex;
    gap: 1.3vw;
    margin-bottom: 1.4vw;
    font-size: 0.83vw;
    color: rgba(255,255, 255, 0.8);
}

.movie-meta span {
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.movie-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-bottom: 1.4vw;
}

.genre-tag {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.4vw 0.833vw;
    border-radius: 2rem;
    font-size: 0.73vw;
    cursor: pointer;
    transition: all 0.2s ease;
}

.genre-tag:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: none !important;
}

.movie-overview {
    margin-bottom: 1.5rem;
}

.movie-overview h2 {
    font-size: 1.2vw;
    margin-bottom: 0.7vw;
}

.movie-overview p {
    line-height: 1.6;
    font-size: 0.85vw;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-cast, .similar-movies {
    overflow: scroll;
}

.movie-cast h2, .similar-movies h2 {
    font-size: 1.2vw;
    margin-bottom: 0.5rem;
}

.cast-list  {
    display: flex;
    gap: 0.9vw;
    padding: 0.4vw 0;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 0.4vw;
}

.similar-list  {
    display: flex;
    gap: 0.9vw;
    padding: 0.4vw 0;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-left: 0.4vw;
}

.movie-cast {
    height: 38vw;
}

.similar-list {
    height: 12vw;
}

.cast-member, .similar-movie {
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
}

.cast-member img, .similar-movie img {
    width: 6.25vw;
    height: 9.375vw;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 0.4vw;
    transition: all 0.2s ease-out;
}

.cast-member:hover img, .similar-movie:hover img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -5px, rgba(0, 0, 0, 0.2) 0px 10px 10px -5px;
    filter: brightness(1.05);
    transform: scale(1.05);
}

.cast-member span, .similar-movie span {
    display: block;
    font-size: 0.8vw;
    max-width: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-details-container .movie-details-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    color: rgba(0, 0, 0, 0.9);
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-details-container .loading-spinner {
    width: 2.604vw;
    height: 2.604vw;
    border: 2px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.movie-details-error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-size: 1.1vw;
}

.movie-details-container .trailer-button {
    display: flex;
    margin-top: 1rem;
    padding: 0.44vw 1vw;
    font-size: 0.83vw;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-right: 0.7vw;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-details-container .trailer-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.movie-details-container .trailer-button:hover {
    background-color: #b81d24;
}

.download-container {
    display: flex;
    align-items: center;
}

.movie-details-container .download-button{
    font-family: "Biotif", sans-serif;
    padding: 0.45vw 1vw;
    background-color: rgba(255, 255, 255, 0.15);
    transform: translate(0, 0.22vw) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.3vw 0.5vw 0 0;
}

.movie-details-container .download-button:hover {
    background-color: #b81d24;
}

.trailer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .trailer-modal {
    position: relative;
    width: 80%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      transform: scale(0.85);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .movie-details-container .movie-details-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .movie-details-container .loader {
    --hue: 210;
    --size: 40px;
    --border: 4px;
    --speed: 0.6s;
    --blur: var(--border);
  }
  
  .movie-details-container  .loader {
    width: var(--border);
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    position: absolute;
    --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
    transform: rotate(0deg) translateY(var(--y));
    animation: spin var(--speed) infinite linear;
    top: 50%;
    left: 50%;
  }
  
  .movie-details-container .loader::before {
    content: "";
    position: absolute;
    inset: calc(var(--border) * -0.5);
    border-radius: 50%;
    background: white;
    filter: blur(var(--blur));
    z-index: -1;
  }
  
  .movie-details-container .loader::after {
    content: "";
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    background: conic-gradient(
        black,
        hsl(var(--hue), 100%, 20%),
        hsl(var(--hue), 100%, 5%),
    );
    border-radius: 50%;
    mask: radial-gradient(
      transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
      white calc((var(--size) * 0.5) - var(--border))
    );
  }
  
  @keyframes spin {
    to {
      transform: rotate(-360deg) translateY(var(--y));
    }
  }
  
@media (max-width: 1366px) {
    .movie-content {
        grid-template-columns: 1.37fr 1fr;
    }

    .cast-list {
        height: 68vh;
    }

    .similar-list {
        height: 30vh;
    }

    .movie-cast {
        height: 60vh;
    }

    .similar-list {
        height: 20.5vh;
    }

    .movie-meta {
        font-size: 0.97vw;
    }

    .genre-tag {
        font-size: 0.95vw;
    }

    .movie-overview h2, .similar-movies h2, .movie-cast h2 {
        font-size: 1.5vw;
    }

    .movie-overview p {
        font-size: 1vw;
    }

    .trailer-button {
        font-size: 0.97vw;
    }

    .cast-member span, .similar-movie span {
        font-size: 1vw;
    }

    .cast-member img, .similar-movie img {
        width: 7vw;
        height: 11vw;
    }
}

@media (max-width: 450px) {
    .movie-content {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        margin-top: 50vw;
    }

    .cast-list {
        height: auto;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100vw;
    }

    .movie-cast, .similar-list {
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .movie-info {
        height: auto;
    }

    .movie-info h1 {
        line-height: unset;
        font-size: 7.5vw;
    }

    .movie-meta {
        font-size: 3.5vw;
        gap: 5vw;
        margin-top: 4vw;
    }

    .movie-genres {
        gap: 3vw;
        margin-top: 6vw;
        overflow-x: auto;
        width: 100vw;
    }

    .genre-tag {
        font-size: 3.5vw;
        padding: 1vw 3vw;
    }

    .movie-overview h2, .similar-movies h2, .movie-cast h2 {
        font-size: 4.5vw;
        margin-top: 4vw;
    }

    .similar-movies h2 {
        margin-top: 2vw;
    }

    .movie-overview p {
        font-size: 3.8vw;
    }

    .movie-details-container .trailer-button {
        font-size: 3.3vw;
        padding: 1.3vw 4vw;
    }

    .movie-details-container .trailer-button span {
        font-size: 4vw;
    }

    .similar-movie img, .cast-member img {
        width: 35vw;
        height: 53vw;
    }

    .similar-list, .cast-list {
        gap: 3vw;
    }

    .similar-movies span{
        display: none;
    }

    .movie-cast span  {
        font-size: 4vw;
        width: 100% !important;
        max-width: 35vw;
    }

    .movie-details-container .movie-title {
        width: 45vw;
    }

    .download-container {
        gap: 2vw;
    }

    .movie-overview {
        width: 90vw;
    }
}