.randomizer {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 2vw;
}

.randomizer .genres, .moods {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.randomizer .genre-title-container, .mood-title-container {
    display: flex;
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-right: 4.5vw;
}

.genre-title, .mood-title {
    display: flex;
    align-items: center;
}

.genre-title p, .mood-title p {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.5rem;
}

.randomizer .genre-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(0.7vw, 1.15vw, 1.5vw);
    margin-top: clamp(1rem, 0.5vw, 3rem);
    flex: 1;
    overflow-x: auto;
    padding-right: 0;
    margin-bottom: 0 !important;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.randomizer .genre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.4rem, 0.8vw, 1rem);
    padding: clamp(1vw, 1.2vw, 2vw) clamp(2vw, 4vw, 3vw);
    width: clamp(7vw, 9.3vw, 12.5vw);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(233, 238, 241, 0.9);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
    flex-shrink: 0;
    font-size: 0.8vw;
}

.refresh-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.genre-icon, .mood-icon {
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.3vw, 1.8rem);
}

.genre:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
}

.genre.active {
    background-color: rgba(255,255,255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    border: 1px solid rgba(255,255,255, 0.1);
    color: rgba(255, 255, 255);
}

.genre-slide, .mood-slide {
    transition: all 0.2s ease-out;
}

.genre-slide input, .mood-slide input {
    display: none;
}

.genre-slide.selected, .mood-slide.selected {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 1rem;
}

.genre-slide input, .mood-slide input {
    display: none;  /* Hide the checkbox itself */
}

.randomizer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .8rem;
    outline: none;
    font-family: "Biotif", "sans-serif";
    border: none;
    padding: 1.1vw 1.5vw;
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.8vw;
    margin-top: 1.3vw;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.randomizer-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    color: rgba(255, 255, 255);
}

.randomizer-button:disabled {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.randomizer-button:disabled:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}

.randomizer-button:disabled:active {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}

.randomizer-button:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    color: rgba(255, 255, 255);
}

.randomizer-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.randomizer-button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.randomizer-button:focus:not(:focus-visible) {
    box-shadow: none;
}

.randomizer-button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.randomizer-button:focus:not(:focus-visible) {
    box-shadow: none;
}

.randomizer .movie-content {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    gap: 1.5vw;
    margin: 0 auto;
    margin-top: 3vw;
    position: relative;
    bottom: 1vw;
    overflow: hidden;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
}

.randomizer .movie-content a {
    text-decoration: none;
    color: inherit;
}

.randomizer .movie-title {
    width: 10vw;
}

.randomizer .movie-info {
    flex-grow: 1;
}

.randomizer .movie-info h1 {
    font-size: 2.2vw;
    margin-bottom: 0.7vw;
    color: #fff;
    line-height: 3.5rem;
    font-weight: 500;
}

.randomizer .movie-meta {
    display: flex;
    gap: 1.3vw;
    margin-bottom: 1.3vw;
    font-size: 0.8vw;
    color: rgba(255,255, 255, 0.8);
}

.randomizer .movie-meta span {
    display: flex;
    align-items: center;
    gap: 0.3vw;
}

.randomizer .movie-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-bottom: 1.3vw;
}

.randomizer .genre-tag {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.4vw 0.8vw;
    border-radius: 2rem;
    font-size: 0.7vw;
    transition: all 0.2s ease;
}

.randomizer .genre-tag:hover {
    background: rgba(255, 255, 255, 0.2);
}

.randomizer .movie-overview {
    margin-bottom: 1.7vw;
}

.randomizer .movie-overview h2 {
    font-size: 1.2vw;
    margin-bottom: 1rem;
}

.randomizer .movie-overview p {
    line-height: 1.6;
    font-size: 0.9vw;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.randomizer .movie-cast, .similar-movies {
    margin-bottom: 2rem;
    overflow: scroll;
}

.randomizer .movie-cast h2, .similar-movies h2 {
    font-size: 1.2vw;
    margin-bottom: 1rem;
}

.randomizer .cast-list, .randomizer .similar-list {
    display: flex;
    gap: 0.9vw;
    overflow-x: auto;
    padding: 0.3vw 0;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.randomizer .movie-cast {
    height: 69vh;
}

.randomizer .similar-list {
    height: 25vh;
} 

.randomizer .cast-member, .randomizer .similar-movie {
    flex-shrink: 0;
    text-align: center;
}

.randomizer .cast-member img, .randomizer .similar-movie img {
    width: 6.5vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    transition: all 0.2s ease-out;
    will-change: transform, filter;
    image-rendering: high-quality;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.randomizer .cast-member:hover img, .randomizer .similar-movie:hover img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -5px, rgba(0, 0, 0, 0.2) 0px 10px 10px -5px;
    filter: brightness(1.05);
    transform: scale(1.05);
}

.randomizer .cast-member span, .randomizer .similar-movie span {
    display: block;
    font-size: 0.8vw;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}

.randomizer .movie-details-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.randomizer .loading-spinner {
    width: 2.604vw;
    height: 2.604vw;
    border: 2px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.movie-details-error {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-size: 1vw;
}

.skeleton-card {
    width: 11.55rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    border-radius: 1.5rem;
    transform: translate(0, 58rem);
    animation: pulse 1.5s infinite;
}

.skeleton-img {
    width: 100%;
    height: 22rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
}

.skeleton-title {
    width: 95%;
    height: 1.3rem;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.75rem 0;
    border-radius: 0.5rem;
}

.randomizer .trailer-button {
    display: inline;
    margin-top: 1rem;
    padding: 0.6vw 1vw;
    font-size: 0.83vw;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-right: 0.7vw;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.randomizer .trailer-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
}

.randomizer .trailer-button:hover {
    background-color: #b81d24;
}

.randomizer .download-button {
    font-family: "Biotif", sans-serif;
    padding: 0.47vw 1vw;
    background-color: rgba(255, 255, 255, 0.15);
    transform: translate(0, 0.22vw) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.randomizer .download-button:hover {
    background-color: #b81d24;
}

.randomizer .trailer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .randomizer .trailer-modal {
    position: relative;
    width: 80%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      transform: scale(0.85);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  } 

  .randomizer  .movie-poster {
    width: 22vw;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    height: 33vw;
    will-change: transform, filter;
    image-rendering: high-quality;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .randomizer  .movie-details-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.randomizer .loader {
    --hue: 210;
    --size: 40px;
    --border: 4px;
    --speed: 0.6s;
    --blur: var(--border);
  }
  
  .randomizer .loader {
    width: var(--border);
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    position: absolute;
    --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
    transform: rotate(0deg) translateY(var(--y));
    animation: spin var(--speed) infinite linear;
    bottom: 35%;
    left: 50%;
  }
  
  .randomizer .loader::before {
    content: "";
    position: absolute;
    inset: calc(var(--border) * -0.5);
    border-radius: 50%;
    background: white;
    filter: blur(var(--blur));
    z-index: -1;
  }

  .download-container {
    display: flex;
    align-items: center;
  }
  
  .randomizer .loader::after {
    content: "";
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    background: conic-gradient(
        black,
        hsl(var(--hue), 100%, 20%),
        hsl(var(--hue), 100%, 5%),
    );
    border-radius: 50%;
    mask: radial-gradient(
      transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
      white calc((var(--size) * 0.5) - var(--border))
    );
  }
  
  @keyframes spin {
    to {
      transform: rotate(-360deg) translateY(var(--y));
    }
  }

@media (max-width: 1366px) {
    .genre {
        font-size: 0.95vw;
    }

    .randomizer .similar-list {
        height: 20vh;
        overflow-y: hidden;
    }

    .randomizer .similar-list img {
        width: 8vw;
        height: 11vw;
    }

    .movie-overview h2 {
        margin-bottom: 0.5vw
    }

    .movie-overview p {
        font-size: 0.85rem;
    }

    .randomizer .trailer-button {
        font-size: 0.95vw;
    }

    .randomizer .similar-list span {
        font-size: 0.9vw;
    }

    .movie-meta {
        font-size: 0.97vw;
    }

    .randomizer-button {
        font-size: 0.95vw;
        padding: 1.25vw 1vw;
    }

    .genre-tag {
        font-size: 0.95vw;
    }

    .random-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px) {

    .genre-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .genre-title {
            font-size: 5vw;

            p {
                display: none;
            }
        }
    }
    .randomizer .genre-container {
        margin-top: 1vw;
        gap: 3vw;
    }

    .randomizer .genre {
        font-size: 3.3vw;
        padding: 3vw 13vw;
        margin-bottom: 2vw;
    }

    .randomizer-button {
        padding: 3.5vw 3vw;
        font-size: 3.5vw;
    }

    .randomizer .movie-content {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        margin-top: 20vw;
    }

    .randomizer .similar-list {
        height: auto;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .randomizer .movie-info {
        height: auto;
    }

    .randomizer .movie-info h1 {
        line-height: unset;
        font-size: 7.5vw;
    }

    .randomizer .movie-meta {
        font-size: 3.5vw;
        gap: 5vw;
        margin-top: 4vw;
    }

    .randomizer .movie-genres {
        gap: 3vw;
        margin-top: 6vw;
        overflow-x: auto;
    }

    .randomizer .genre-tag {
        font-size: 3.5vw;
        padding: 1vw 3vw;
    }

    .randomizer .movie-overview h2, .randomizer .similar-movies h2 {
        font-size: 4.5vw;
        margin-top: 4vw;
    }

    .randomizer .similar-movies h2 {
        margin-top: 2vw;
    }

    .randomizer .movie-overview p {
        font-size: 3.8vw;
    }

    .randomizer .trailer-button {
        font-size: 4vw;
        padding: 2vw 4vw;
    }

    .randomizer .download-button {
        padding: 1.55vw 4vw;
    }

    .randomizer .similar-movie img{
        width: 35vw;
        height: 53vw;
    }

    .randomizer .similar-list {
        gap: 3vw;
    }

    .randomizer .similar-movies span{
        display: none;
    }

    .randomizer .movie-title {
        width: 45vw;
    }

    .download-container {
        gap: 2vw;
    }

    .randomizer .movie-poster {
        width: 40vw; 
        height: auto;
        margin-bottom: 2vw;
    }

    .randomizer .random-image {
        width: 40vw;
        height: auto;
    }

    .download-container {
        gap: 2vw;
    }

    .download-button svg {
        font-size: 4vw;
    }

    .randomizer .loader {
        bottom: 20vw;
    }
    
}