.sports-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5vw;
    margin-top: 5rem;
}

.sports-container .genre-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: clamp(0.7vw, 1.2vw, 1.5vw);
    margin-top: clamp(1rem, 0.5vw, 3rem);
    flex: 1;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    overflow-x: auto;
    padding-right: 0;
    scrollbar-width: none; 
    padding-left: 0;
    -ms-overflow-style: none; 
}

.sports-container .genre-container::-webkit-scrollbar {
    display: none; 
}

.sports-container .genre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.4rem, 0.8vw, 1rem);
    padding: clamp(1vw, 1.2vw, 2vw) clamp(2vw, 4vw, 3vw);
    width: clamp(7vw, 9.3vw, 12.5vw);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(233, 238, 241, 0.9);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
    flex-shrink: 0;
    font-size: 0.8vw;
}

/* Responsive Typography & Icon Size */
.sports-container .genre-icon {
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.3vw, 1.8rem);
}

/* Hover Effects */
.sports-container .genre:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
}

.sports-container .genre.active {
    background-color: rgba(255,255,255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    border: 1px solid rgba(255,255,255, 0.1);
    color: rgba(255, 255, 255);
}

.sports-container .sports-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8vw;
    margin-bottom: 2vw;
}

.sports-container .sports-card {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1vw;
    width: 11vw;
    text-decoration: none;
    margin-bottom: 1.5vw;
    cursor: pointer;
}

.sports-container .sports-card img {
    width: 10.55vw;
    height: auto;
    border-radius: 1rem;
}

.sports-container .sports-card > span {
    font-size: 0.9vw;
}

.sports-container .sports-star {
    color: orange;
}

.sports-container .sports-details {
    font-size: 0.75vw;
    color: rgba(233, 238, 241, 0.9);
    display: flex;
    align-items: center;
}

.sports-container .sports-title {
    padding-right: 0.6rem;
    margin-top: 0.5rem;
    align-items: start;
    width: 10.55vw;
}

picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sports-container .gap {
    color: rgba(255,255,255, 0.3);
}

.sports-container .sports-card:hover .sports-card-img {
    transform: scale(1.015);
}

.sports-container .sports-card-image {
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-container .sports-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
    will-change: transform, filter;
    image-rendering: high-quality;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.big-sorting-container {
    display: flex;
    width: 100%;
    padding-right: 1.5vw;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 1.6vw 0;
}
  
  .pagination-controls button {
    background-color: rgba(255,255,255, 0.15);
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 0.833vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.7rem;
    transition: all 0.2s ease-out;
  }
  
  .pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .pagination-controls button:hover:not(:disabled) {
    background-color: rgba(255,255,255, 0.2);
  }

  .pagination-controls .active-page {
    background-color: rgba(255,255,255,0.3);
    color: white;
    font-weight: bold;
  }

  .sports-container  .sorting-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.1rem 0.5rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2rem;
    font-size: 1.1vw;
    margin-bottom: 1.4vw;
    transform: scale(0.8);
    margin-left: auto;
    border: 1px solid rgba(255,255,255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sports-container .loading {
    color: rgba(255, 255, 255, 0.9);
}

.sports-container .filter, .sports-container .sort {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 0.7vw;
    border-radius: 2rem;
    transition: all 0.15s ease-out;
    cursor: pointer;
    color: #fff;
}

.sports-container .filter:hover, .sportss-container .sort:hover {
    background-color: #282828;
}

.sports-container .filter {
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sports-container .sort {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sports-container .popup-menu {
    z-index: 200000;
    background-color: rgba(0,0,0);
    position: absolute;
    right: 5vw;
    top: 22.5vw;
    border: 1px solid rgba(255,255,255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 1rem;
}

.sports-container .popup-menu p {
    cursor: pointer;
    font-size: 0.77vw;
}

.liner {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.3vw 0;
}

.sports-container .sports-details-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .sports-container .loading-spinner {
    width: 2.604vw;
    height: 2.604vw;
    border: 2px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

.sports-container .loader {
    --hue: 210;
    --size: 2.4vw;
    --border: 4px;
    --speed: 0.6s;
    --blur: var(--border);
  }
  
  .sports-container .loader {
    width: var(--border);
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    position: absolute;
    --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
    transform: rotate(0deg) translateY(var(--y));
    animation: spin var(--speed) infinite linear;
    top: 50%;
    left: 50%;
  }
  
  .sports-container  .loader::before {
    content: "";
    position: absolute;
    inset: calc(var(--border) * -0.5);
    border-radius: 50%;
    background: white;
    filter: blur(var(--blur));
    z-index: -1;
  }
  
  .sports-container .loader::after {
    content: "";
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    background: conic-gradient(
        black,
        hsl(var(--hue), 100%, 20%),
        hsl(var(--hue), 100%, 5%),
    );
    border-radius: 50%;
    mask: radial-gradient(
      transparent calc(((var(--size) * 0.5) - var(--border)) - 1px),
      white calc((var(--size) * 0.5) - var(--border))
    );
  }
  
  @keyframes spin {
    to {
      transform: rotate(-360deg) translateY(var(--y));
    }
  }

  @media (max-width: 1366px) {
    .sports-container .genre-container {
        gap: 1vw;
    }

    .sports-container .genre {
        font-size: 0.9vw;
        width: 9.5vw;
    }

    .sports-container .sorting-container {
        transform: scale(0.95);
    }

    .sports-container .popup-menu p{
        font-size: 1vw !important;
    }

    .popup-menu {
        top: 22vw;
        right: 6vw;
    }

    .sports-container .sports-title {
        font-size: 1.1vw !important;
        margin-left: 0;
    }

    .sports-container .sports-details {
        font-size: 0.9vw !important;
        margin-left: 0;
    }
  }


  @media (max-width: 450px) {
    .sports-container .landing-item-poster {
        height: 55vw;
    }

    .landing-container .sports-title-overlay {
        font-size: 6vw;
        padding: 4vw;
    }

    .sports-container .sports-extra-details {
        font-size: 3vw;
    }

    .sports-container .genre-container {
        gap: 2vw !important;
        margin-left: -2vw;
    }

    .sports-container .sports-title {
        font-size: 5vw !important;
        margin-left: 3vw;
        width: 100%;
    }

    .sports-container .sports-details {
        font-size: 0.9vw !important;
        margin-left: 0;
        display: none !important;
    }

    .sports-container .swiper-navigation-container {
        width: 5.4vw !important;
        margin-right: 0 !important;
        display: none !important;
    }

    .sports-container .sports-card-img, .sports-container .sports-card-image {
        border-radius: 1.3rem !important;
        width: 42vw;
    }

    .sports-container .genre {
        padding: 3.5vw 15.5vw !important;
        font-size: 3.5vw !important;
        border-radius: 3vw !important;
    }

    .sports-container .genre-icon {
        font-size: 4vw;
    }

    .sports-container .item-container-heading {
        font-size: 5vw !important;
        margin-top: 3vw !important;
    }

    .sports-container .sports-poster {
        width: 40vw !important;
    }

    .sports-container .sports-card {
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3vw;
        width: 45vw !important;
        cursor: pointer;
        background-size: cover !important;
        text-decoration: none;
    }
}