.landing-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.landing-container .genre-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: clamp(0.48rem, 0.65vw, 1.5rem);
    margin-top: clamp(1rem, 0.5vw, 3rem);
    padding: 0 clamp(1rem, 1.5vw, 2rem);
    flex: 1;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.landing-container .genre-container::-webkit-scrollbar {
    display: none; 
}

.landing-container .genre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.4rem, 0.8vw, 1rem);
    padding: clamp(1vw, 1.3vw, 2vw) clamp(2vw, 4vw, 3vw);
    width: clamp(7vw, 10vw, 12.5vw);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(233, 238, 241, 0.9);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
    flex-shrink: 0;
    font-size: 0.85vw;
}

.landing-container .genre-icon {
    display: flex;
    align-items: center;
    font-size: clamp(1.4vw, 2vw, 1.4vw);
}

.landing-container .genre:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
}

.reset-animation {
    transform: none !important;
    transition: transform 0.5s ease-in-out;
}

.landing-container .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.4vw;
    margin-top: 2.3vw;
    opacity: 0;
    transform: translateY(1vw);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: fadeInUp 0.5s ease-out forwards;
}

.landing-container .item-container-heading {
    color: #fff;
    font-size: 1.2vw;
    margin: 0.5vw;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-container .swiper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    min-height: 6vw !important;
    padding: 0.5rem 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding: 0.8vw 0;
    width: auto;
    height: auto;
}

.swiper-slide img {
    width: 94%;
    height: auto;
    object-fit: contain;
    border-radius: 1.3rem;
    transition: transform 0.3s ease-out;
}

.landing-container .swiper-navigation-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.45rem 0.5rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2rem;
    font-size: 0.95vw;
    margin-bottom: 1.4vw;
    margin-left: auto;
    width: 4.7em;
    margin-right: 0.5vw;
    border: 1px solid rgba(255,255,255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.landing-container .swiper-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.05rem 0.5rem;
    transition: all 0.15s ease-out;
    cursor: pointer;
}

#swiper-prev-28, #swiper-prev-35, #swiper-prev-18, #swiper-prev-16,
#swiper-prev-27, #swiper-prev-10770, #swiper-prev-14, #swiper-prev-878, #swiper-prev-10751 {
    border-right: 1px solid rgba(255,255,255, 0.1);
}

.landing-container .movie-card {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vw;
    width: 13vw;
    cursor: pointer;
    text-decoration: none;
}

.landing-container .movie-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19vw;
    overflow: hidden;
    border-radius: 1.3rem;
}

.landing-container .movie-card-img {
    object-fit: cover;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
    will-change: transform, filter;
    image-rendering: high-quality;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.landing-container .item-container.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.landing-container .movie-card > span {
    font-size: 0.95vw;
}

.landing-container .movie-star {
    color: orange;
}

.landing-container .movie-details {
    font-size: 0.75vw;
    color: rgba(233, 238, 241, 0.9);
    display: flex;
    align-items: center;
}

.landing-container .movie-title {
    padding-right: 0.6rem;
    align-items: start;
}

.landing-container .gap {
    color: rgba(255,255,255, 0.3);
}

.landing-container .movie-card:hover .movie-card-img {
    transform: scale(1.015);
}

.skeleton-card {
    width: 15vw;
    height: 27.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    border-radius: 2rem;
    animation: pulse 1.5s infinite;
}

.skeleton-img {
    width: 100%;
    height: 22rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.3rem;
}

.skeleton-title {
    width: 80%;
    height: 1.3rem;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.75rem 0;
    margin-left: -3rem;
    border-radius: 0.5rem;
}

.skeleton-details {
    width: 60%;
    height: 1.2rem;
    margin-top: 0.1rem;
    margin-left: -5.5rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
}

.skeleton-big-card-container {
    display: flex;
    gap: 1rem;
}

.skeleton-big-card {
    width: 36.5vw;
    height: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    border-radius: 2rem;
    animation: pulse 1.5s infinite;
    z-index: 500000;
}

.skeleton-big-img {
    width: 100%;
    height: 14.5rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
}

.skeleton-big-title {
    width: 100%;
    height: 3rem;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 0.75rem;
    border-radius: 1.5rem;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.skeleton-genre-card {
    width: 11.5rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 10px;
    gap: 0.2rem;
    border-radius: 1rem;
    animation: pulse 1.5s infinite;
}

.skeleton-genre-title {
    width: 50%;
    height: 1.4rem;
    background: rgba(255, 255, 255, 0.15);
    margin: 0.75rem 0;
    border-radius: 0.5rem;
}

.skeleton-genre-icon {
    width: 18%;
    margin-left: 0.2rem;
    height: 1.4rem;
    margin-top: 0.1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.landing-item-container {
    width: 100%;
    padding: 1vw 1.3vw;
    position: relative;
    overflow: hidden;
}

.landing-item-poster {
    width: 100%;
    height: 16vw;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-size: cover;
    cursor: pointer;
    background-position: center;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.landing-item-poster:hover {
    transform: scale(1.025);
}

.movie-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1vw;
    color: white;
    font-size: 1.2vw;
    mix-blend-mode: difference;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

.movie-extra-details {
    font-size: 0.8vw;
    margin-top: 0.4vw;
    opacity: 0.9;
}

@media (max-width: 1366px) {
    .landing-item-poster {
        height: 18vw;
    }

    .landing-container .genre-container {
        gap: 0.6vw !important;
    }

    .movie-title {
        font-size: 1.1vw !important;
        margin-left: 0;
    }

    .movie-details {
        font-size: 0.9vw !important;
        margin-left: 0;
    }

    .swiper-navigation-container {
        width: 5.4vw !important;
        margin-right: 0 !important;
    }

    .movie-card-img, .movie-card-image {
        border-radius: 1.3rem !important;
    }

    .genre {
        font-size: 0.95vw !important;
    }

    .item-container-heading {
        font-size: 1.35vw !important;
    }
}